<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Fruit Show Page</title>
</head>

<body>
    <div class="fruit-details">
        <h1>
            <%= fruit.name %>
        </h1> <!-- Display fruit name -->
        <!-- Add more details about the fruit here -->
        <% if (fruit.emoji) { %>
          <div class="emoji-show">
            <p class="emoji">&#x<%= fruit.emoji %></p>
          </div>
        <% } else { %>
          <div class="emoji-show">
            <p class="emoji">&#x1F9FA</p>
          </div>
        <% } %>
        <!-- Conditional rendering based on fruit's readiness -->
        <% if (fruit.isReadyToEat) { %>
            <p>✅ This fruit is ready to be eaten!</p>
        <% } else { %>
            <p>❌ This fruit is not ready to be eaten!</p>
        <% } %>
        <div class="fruit-actions">
            <form
              class="delete-form"
              action="/fruits/<%=fruit._id%>?_method=DELETE"
              method="POST"
            >
              <button class="delete-button" type="submit">
                Delete <%= fruit.name %>
              </button>
            </form>
            <a class="edit-link" href="/fruits/<%= fruit._id %>/edit">
              <div class="edit-text">Edit <%= fruit.name %></div>
            </a>
          </div>
    </div>
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
    </a>
</body>

</html>